<div id="corpoPrincipal">
    <div class="container-fluid">
        <div class="card" style="margin-top: 15px;margin-bottom: 15px;">
            <div class="card-block">
                <div class="row justify-content-between">
                    <h3 class="text-justify col-6">Gestão de Transações</h3>
                    <a class="col-2" th:onclick="'executaAjaxGet(\'/transacao/salvarTransacao?idInvestimento='+${idInvestimento}+'\',\'espacoConteudo\', function(){}, function(){})'"><span
                            class="fa fa-plus fa-2x"></span></a>
                    <h3 class="text-justify col-2"><a th:onclick="'executaAjaxGet(\'/investimento/gestaoInvestimento/'+${idPessoa}+'\',\'corpoPrincipal\', function(){}, function(){})'">Voltar</a></h3>
                </div>
                <div id="espacoConteudo">
                    <div th:if="${mensagem} != null">
                        <h3 th:text="${mensagem}"></h3>
                    </div>
                </div>

                <div class="card" style="margin-top: 15px;margin-bottom: 15px;">
                    <div class="card-block">
                        <table id="tabelaTransacao" class="table display responsive nowrap table-hover"
                               cellspacing="0"
                               width="100%">
                            <thead class="thead-default">
                            <tr>
                                <th>Id</th>
                                <th>Data</th>
                                <th>Tipo Transação</th>
                                <th>Montante</th>
                                <th>Observação</th>
                                <th>Editar</th>
                                <th>Remover</th>
                            </tr>
                            </thead>
                        </table>

                    </div>
                </div>
                <script th:inline="javascript">

                /*<![CDATA[*/
                    var idInvestimentoJS = [[${idInvestimento}]];
                    var caminhoUrl = '/dt/transacao/transacaoPorInvestimento/' + [[${idInvestimento}]];
                    $('table#tabelaTransacao')
                            .DataTable(
                                    {
                                        language : {
                                            'url' : '/static/js/portuguese.json'
                                        },
                                        ajax : {
                                            'url' : caminhoUrl,
                                            'contentType' : 'application/json',
                                            'type' : 'POST',
                                            'data' : function(d) {
                                                return JSON.stringify(d);
                                            }
                                        },
                                        serverSide : true,
                                        columns : [
                                                {
                                                    data : 'idTransacao'
                                                },
                                                {
                                                    data : 'dataTransacao'
                                                },
                                                {
                                                    data : 'tipoTransacao.descTipoTransacao'
                                                },
                                                {
                                                    data : 'montante'
                                                },
                                                {
                                                    data : 'observacao.descObservacao'
                                                },
                                                {
                                                    data : 'editar',
                                                    searchable: false,
                                                    orderable: false,
                                                    render : function (data, type, row) {
                                                        return '<a href="#" onclick = "executaAjaxGet(\'/transacao/salvarTransacao?idTransacao='
                                                        + row.idTransacao
                                                        + '&idInvestimento=' + idInvestimentoJS + '\',\'espacoConteudo\',function(){},function(){})"><span class="fa fa-pencil"> </span></a>';
                                                    }
                                                },
                                                {
                                                    data : 'remover',
                                                    searchable: false,
                                                    orderable: false,
                                                    render : function (data, type, row) {
                                                        return '<a href="#" onclick = "executaAjaxGet(\'/transacao/removerTransacao/'
                                                        + row.idTransacao
                                                        + '\',\'espacoConteudo\',function(){},function(){})"><span class="fa fa-trash"> </span></a>';
                                                    }
                                                }],
                                        "order" : [ [ 0, "desc" ] ]
                                    });
                /*]]>*/

                </script>
            </div>
        </div>
    </div>

    <footer id="myFooter" th:replace="fragments/_footerCompleto"/>
</div>