<div id="espacoConteudo">
    <div class="card" style="margin-top: 15px;margin-bottom: 15px;" th:if="${transacao} != null">
        <div class="card-block">
            <form id="formTransacao" role="form" action="#" th:action="@{/transacao/salvarTransacao}" method="post"
                  th:object="${transacao}">
                <ul th:if="${#fields.hasErrors('*')}" class="errorlist">
                    <li th:each="err : ${#fields.errors('*')}" th:text="${err}">Dados
                        Incorretos
                    </li>
                </ul>
                <div class="form-group">
                    <label for="idTransacao">idTransacao</label>
                    <input type="hidden" th:field="*{investimento.idInvestimento}"/>
                    <input type="hidden" th:field="*{idTransacao}"/>
                    <input type="text" class="form-control" th:field="*{idTransacao}" aria-describedby="idTransacaoHelp"
                           placeholder="idTransacao" th:errorclass="fieldError" disabled="true"/>
                    <small id="idTransacaoHelp" class="form-text text-muted">Id da Transação.
                    </small>
                </div>
                <div class="form-group">
                    <label for="tipoTransacao">tipoTransacao</label>
                    <select class="form-control" th:field="*{tipoTransacao}" th:errorclass="fieldError">
                        <option th:each="tipoTransacao : ${listaTipoTransacao}"
                                th:value="${tipoTransacao.idTipoTransacao}"
                                th:text="${tipoTransacao.descTipoTransacao}">Tipo Transacao
                        </option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="dataTransacao">dataTransacao</label>
                    <input type="text" class="form-control usaCalendario" th:field="*{dataTransacao}"
                           aria-describedby="dataTransacaoHelp"
                           placeholder="Data da Transação" th:errorclass="fieldError"/>
                    <small id="dataTransacaoHelp" class="form-text text-muted">Preencha com a data da Transação.
                    </small>
                </div>
                <div class="form-group">
                    <label for="montante">Montante</label>
                    <input type="text" class="form-control" th:field="*{montante}" aria-describedby="montanteHelp"
                           placeholder="Montante" th:errorclass="fieldError"/>
                    <small id="montanteHelp" class="form-text text-muted">Preencha com o valor da Transação.</small>
                </div>

                <div class="form-group">
                    <label for="observacao">Observação</label>
                    <input type="hidden" th:field="*{observacao.idObservacao}"/>
                    <textarea class="form-control" th:field="*{observacao.descObservacao}"
                              aria-describedby="observacaoHelp"
                              placeholder="Observação" th:errorclass="fieldError"/>
                    <small id="observacaoHelp" class="form-text text-muted">Observação sobre o cliente.</small>
                </div>
                <button type="button" onclick="submitFormTransacao();" class="btn btn-primary">Salvar</button>
            </form>
            <script type="text/javascript">
					function submitFormTransacao() {
  						var url = "/transacao/salvarTransacao";
  						$.ajax({
  							type: "POST",
  							url: url,
  							data: $("#formTransacao").serialize(),
  							success: function(data)
  							{
  								$('#espacoConteudo').replaceWith(data);
  							}
  						});
  					};

  					$('.usaCalendario').datetimepicker({
		                format : 'd/m/Y'
	                });

            </script>
        </div>
    </div>
</div>