<div id="corpoPrincipal">
    <div class="container-fluid">
        <div class="card" style="margin-top: 15px;margin-bottom: 15px;">
            <div class="card-block">
                <div class="row justify-content-between">
                    <h3 class="text-justify col-4">Gestão de Pendencias por Funcionário</h3>
                </div>
                <div id="espacoPendencia">
                    <div th:if="${mensagem} != null">
                        <h3 th:text="${mensagem}"></h3>
                    </div>
                </div>

                <div class="card" style="margin-top: 15px;margin-bottom: 15px;">
                    <div class="card-block">
                        <table id="tabelaPendencias" class="table display responsive nowrap table-hover" cellspacing="0"
                               width="100%">
                            <thead class="thead-default">
                            <tr>
                                <th>Id</th>
                                <th>Nome Cliente</th>
                                <th>Tipo de Pendência</th>
                                <th>Observação</th>
                                <th>Editar</th>
                                <th>Remover</th>
                            </tr>
                            </thead>
                        </table>

                    </div>
                </div>
                <script th:inline="javascript">

                /*<![CDATA[*/
                 var idFuncionario = [[${funcionario.idPessoa}]];
                    $('table#tabelaPendencias')
                            .DataTable(
                                    {
                                        language : {
                                            'url' : '/static/js/portuguese.json'
                                        },
                                        ajax : {
                                            'url' : '/dt/pendenciasPorFuncionario/' + idFuncionario,
                                            'contentType' : 'application/json',
                                            'type' : 'POST',
                                            'data' : function(d) {
                                                return JSON.stringify(d);
                                            }
                                        },
                                        serverSide : true,
                                        columns : [
                                                {
                                                    data : 'idPendencia'
                                                },
                                                {
                                                    data : 'cliente.nome'
                                                },
                                                {
                                                    data : 'tipoPendencia.descTipoPendencia'
                                                },
                                                {
                                                    data : 'observacao.descObservacao'
                                                },
                                                {
                                                    data : 'editar',
                                                    searchable: false,
                                                    orderable: false,
                                                    render : function (data, type, row) {
                                                        return '<a href="#" onclick = "executaAjaxGet(\'/pendencia/salvarPendencia?idPendencia='
                                                        + row.idPendencia
                                                        + '\',\'espacoPendencia\',function(){},function(){})"><span class="fa fa-pencil"> </span></a>';
                                                    }
                                                },
                                                {
                                                    data : 'remover',
                                                    searchable: false,
                                                    orderable: false,
                                                    render : function (data, type, row) {
                                                        return '<a href="#" onclick = "executaAjaxGet(\'/pendencia/removerPendencia/'
                                                        + row.idPendencia
                                                        + '\',\'espacoPendencia\',function(){},function(){})"><span class="fa fa-trash"> </span></a>';
                                                    }
                                                }
                                                ],
                                        "order" : [ [ 0, "desc" ] ]
                                    });
                     /*]]>*/

                </script>

            </div>
        </div>
    </div>
    <footer id="myFooter" th:replace="fragments/_footerCompleto"/>
</div>