<div id="corpoPrincipal">
    <div class="container-fluid">
        <div class="card" style="margin-top: 15px;margin-bottom: 15px;">
            <div class="card-block">
                <div class="row justify-content-between">
                    <h3 class="text-justify col-3">Gestão de Clientes</h3>
                    <a class="col-1" onclick="executaAjaxGet('/cliente/salvarCliente','espacoCliente', function(){}, function(){})"><span
                            class="fa fa-plus fa-2x"></span></a>
                </div>
                <div id="espacoCliente">
                    <div th:if="${mensagem} != null">
                        <h3 th:text="${mensagem}"></h3>
                    </div>
                </div>

                <div class="card" style="margin-top: 15px;margin-bottom: 15px;">
                    <div class="card-block">
                        <table id="tabelaClientes" class="table display responsive nowrap table-hover" cellspacing="0" width="100%">
                            <thead class="thead-default">
                            <tr>
                                <th>Id</th>
                                <th>Nome</th>
                                <th>Visualizar</th>
                                <th>Editar</th>
                                <th>Remover</th>
                                <th>Investimentos</th>
                                <th>Pendências</th>
                            </tr>
                            </thead>
                        </table>

                    </div>
                </div>
                <script>
                    $('table#tabelaClientes')
                            .DataTable(
                                    {
                                        language : {
                                            'url' : '/static/js/portuguese.json'
                                        },
                                        ajax : {
                                            'url' : '/dt/clientes',
                                            'contentType' : 'application/json',
                                            'type' : 'POST',
                                            'data' : function(d) {
                                                return JSON.stringify(d);
                                            }
                                        },
                                        serverSide : true,
                                        columns : [
                                                {
                                                    data : 'idPessoa',
                                                    width:'5%',
                                                },
                                                {
                                                    data : 'nome'
                                                },
                                                {
                                                    data : 'visualizar',
                                                    width:'15%',
                                                    searchable: false,
                                                    orderable: false,
                                                    render : function (data, type, row) {
                                                        return '<a href="#" onclick = "executaAjaxGet(\'/investimento/dashboardCliente/'
                                                        + row.idPessoa
                                                        + '\',\'corpoPrincipal\',function(){},function(){})"><span class="fa fa-eye"> </span></a>';
                                                    }
                                                },
                                                {
                                                    data : 'editar',
                                                    searchable: false,
                                                    width:'15%',
                                                    orderable: false,
                                                    render : function (data, type, row) {
                                                        return '<a href="#" onclick = "executaAjaxGet(\'/cliente/salvarCliente?idCliente='
                                                        + row.idPessoa
                                                        + '\',\'espacoCliente\',function(){},function(){})"><span class="fa fa-pencil"> </span></a>';
                                                    }
                                                },
                                                {
                                                    data : 'remover',
                                                    searchable: false,
                                                    width:'15%',
                                                    orderable: false,
                                                    render : function (data, type, row) {
                                                        return '<a href="#" onclick = "executaAjaxGet(\'/cliente/removerCliente/'
                                                        + row.idPessoa
                                                        + '\',\'espacoCliente\',function(){},function(){})"><span class="fa fa-trash"> </span></a>';
                                                    }
                                                },
                                                {
                                                    data : 'investimentos',
                                                    searchable: false,
                                                    width:'15%',
                                                    orderable: false,
                                                    render : function (data, type, row) {
                                                        return '<a href="#" onclick = "executaAjaxGet(\'/investimento/gestaoInvestimento/'
                                                        + row.idPessoa
                                                        + '\',\'corpoPrincipal\',function(){},function(){})"><span class="fa fa-usd"> </span></a>';
                                                    }
                                                },
                                                {
                                                    data : 'pendencias',
                                                    searchable: false,
                                                    width:'15%',
                                                    orderable: false,
                                                    render : function (data, type, row) {
                                                        return '<a href="#" onclick = "executaAjaxGet(\'/pendencia/gestaoPendenciaPorCliente/'
                                                        + row.idPessoa
                                                        + '\',\'corpoPrincipal\',function(){},function(){})"><span class="fa fa-bullhorn"> </span></a>';
                                                    }
                                                }],
                                        "order" : [ [ 0, "desc" ] ]
                                    });
                </script>

            </div>
        </div>
    </div>
    <footer id="myFooter" th:replace="fragments/_footerCompleto"/>
</div>