<div id="listaTransacoes" class="scroll-box">
    <h4 th:text="'Transações do ' + ${investimento.tipoInvestimento.descTipoInvestimento}">Transações do XPTO</h4>
    <br/>
    <dl >
        <div th:each="transacao:${investimento.transacoes}" class="row">
            <dt class = "col-sm-4" th:text="${transacao.tipoTransacao.descTipoTransacao}"></dt>
            <dd class = "col-sm-4"><span th:text="'Data: ' + ${{transacao.dataTransacao}}"></span></dd>
            <dd class = "col-sm-4"><span th:text="'Valor: ' + ${transacao.montante}"></span></dd>
        </div>
    </dl>
</div>