<div id="espacoConteudo">
    <div class="card" style="margin-top: 15px;margin-bottom: 15px;" th:if="${investimento} != null">
        <div class="card-block">
            <form id="formInvestimento" role="form" action="#" th:action="@{/investimento/salvarInvestimento}" method="post"
                  th:object="${investimento}">
                <ul th:if="${#fields.hasErrors('*')}" class="errorlist">
                    <li th:each="err : ${#fields.errors('*')}" th:text="${err}">Dados
                        Incorretos
                    </li>
                </ul>
                <div class="form-group">
                    <label for="idInvestimento">idInvestimento</label>
                    <input type="hidden" th:field="*{cliente.idPessoa}"/>
                    <input type="hidden" th:field="*{idInvestimento}"/>
                    <input type="text" class="form-control" th:field="*{idInvestimento}" aria-describedby="idInvestimentoHelp"
                           placeholder="idInvestimento" th:errorclass="fieldError" disabled="true"/>
                    <small id="idInvestimentoHelp" class="form-text text-muted">Id do Investimento.
                    </small>
                </div>
                <div class="form-group">
                    <label for="tipoInvestimento">tipoInvestimento</label>
                    <select class="form-control" th:field="*{tipoInvestimento}" th:errorclass="fieldError">
                        <option th:each="tipoInvestimento : ${listaTipoInvestimento}"
                                th:value="${tipoInvestimento.idTipoInvestimento}"
                                th:text="${tipoInvestimento.descTipoInvestimento}">Tipo Investimento
                        </option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="situacaoInvestimento">situacaoInvestimento</label>
                    <select class="form-control" th:field="*{situacaoInvestimento}" th:errorclass="fieldError">
                        <option th:each="situacaoInvestimento : ${listaSituacaoInvestimento}"
                                th:value="${situacaoInvestimento.idSituacaoInvestimento}"
                                th:text="${situacaoInvestimento.descSituacaoInvestimento}">Situacao Investimento
                        </option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="dataCriacao">dataCriacao</label>
                    <input type="text" class="form-control usaCalendario" th:field="*{dataCriacao}"
                           aria-describedby="dataCriacaoHelp"
                           placeholder="Data da Criação" th:errorclass="fieldError"/>
                    <small id="dataCriacaoHelp" class="form-text text-muted">Preencha com a data da criação do Investimento.
                    </small>
                </div>
                <div class="form-group">
                    <label for="observacao">Observação</label>
                    <input type="hidden" th:field="*{observacao.idObservacao}"/>
                    <textarea class="form-control" th:field="*{observacao.descObservacao}"
                              aria-describedby="observacaoHelp"
                              placeholder="Observação" th:errorclass="fieldError"/>
                    <small id="observacaoHelp" class="form-text text-muted">Observação sobre o cliente.</small>
                </div>
                <button type="button" onclick="submitFormInvestimento();" class="btn btn-primary">Salvar</button>
            </form>
            <script type="text/javascript">
					function submitFormInvestimento() {
  						var url = "/investimento/salvarInvestimento";
  						$.ajax({
  							type: "POST",
  							url: url,
  							data: $("#formInvestimento").serialize(),
  							success: function(data)
  							{
  								$('#espacoConteudo').replaceWith(data);
  							}
  						});
  					};

  					$('.usaCalendario').datetimepicker({
		                format : 'd/m/Y'
	                });

            </script>
        </div>
    </div>
</div>